<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngdatafan.portal.model.management.datasource.mapper.ModelGroupGrantMapper">
  <resultMap id="BaseResultMap" type="com.youngdatafan.portal.model.management.datasource.entity.ModelGroupGrant">
    <result column="mode_name" jdbcType="VARCHAR" property="modeName" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
  </resultMap>
  <insert id="insert" parameterType="com.youngdatafan.portal.model.management.datasource.entity.ModelGroupGrant">
    insert into dp_portal_model_group_grant (mode_name, group_id)
    values (#{modeName,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youngdatafan.portal.model.management.datasource.entity.ModelGroupGrant">
    insert into dp_portal_model_group_grant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modeName != null">
        mode_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modeName != null">
        #{modeName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>